{% extends "layout/baseIndex.html" %}
{% load static %}

{% block content %}
	<!-- SLIDER Start
    ================================================== -->


	<section id="slider-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="slider" class="nivoSlider">
						<img src="{% static 'images/3.jpg' %}" alt="" />
				    	<img src="{% static 'images/1.jpg' %}" alt="" />
				    	<img src="{% static 'images/2.jpg' %}" alt=""/>
					</div>	<!-- End of /.nivoslider -->
				</div>	<!-- End of /.col-md-12 -->
			</div>	<!-- End of /.row -->
		</div>	<!-- End of /.container -->
	</section> <!-- End of Section -->





	<!-- CATAGORIE Start
    ================================================== -->

	<section id="catagorie">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<div class="block-heading">
							<h2>CATEGORIES DE PLAT</h2>
						</div>
						<div class="row">
						  	<div class="col-sm-6 col-md-4">
							    <div class="thumbnail">
							    	<a class="catagotie-head" href="blog-single.html">
										<img src="{% static 'images/category-image-1.jpg' %}" alt="...">
										<h3 style="text-align: center;">Filet de Boeuf</h3>
									</a>
									<p class="price" style="text-align: center;">Prix: 3000 FCFA</p>
							    </div>	<!-- End of /.thumbnail -->
						  	</div>	<!-- End of /.col-sm-6 col-md-4 -->

						  	<div class="col-sm-6 col-md-4">
							    <div class="thumbnail" >
							    	<a class="catagotie-head" href="blog-single.html">
										<img  src="{% static 'images/4.png' %}" alt="...">
										<h3 style="text-align: center;">Hamburger</h3>
									</a>
									<p class="price" style="text-align: center;">Prix: 2000 FCFA</p>
							    </div>	<!-- End of /.thumbnail -->
						  	</div>	<!-- End of /.col-sm-6 col-md-4 -->
						  	<div class="col-sm-6 col-md-4">
							    <div class="thumbnail">
							    	<a class="catagotie-head" href="blog-single.html">
										<img src="{% static 'images/6.png' %}" alt="...">
										<h3 style="text-align: center;">Riz au Poisson</h3>
									</a>
									<p class="price" style="text-align: center;">Prix: 2000 FCFA</p>
							    </div>	<!-- End of /.thumbnail -->
						  	</div>	<!-- End of /.col-sm-6 col-md-4 -->
						</div>	<!-- End of /.row -->
					</div>	<!-- End of /.block -->
				</div>	<!-- End of /.col-md-12 -->
			</div>	<!-- End of /.row -->
		</div>	<!-- End of /.container -->
	</section>	<!-- End of Section -->




		<!-- PRODUCTS Start
    ================================================== -->

	<section id="products">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="products-heading">
						<h2>PETIT DEJEUNER</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<br>
				<div class="col-md-3">
					<div class="products">
						<a href="single-product.html">
							<img src="{% static 'images/7.png' %}" alt="">
						</a>
						<a href="single-product.html">
							<h4>Chawarma</h4>
						</a>
						<p class="price">Prix : 1500 FCFA</p>
					</div>	<!-- End of /.products -->
				</div>	<!-- End of /.col-md-3 -->
				<div class="col-md-3">
					<div class="products">
						<a href="single-product.html">
							<img src="{% static 'images/8.png' %}" alt="">
						</a>
						<a href="single-product.html">
							<br><h4>Norvegienne</h4>
						</a>
						<p class="price">Prix : 2000 FCFA</p>
					</div>	<!-- End of /.products -->
				</div> <!-- End Of Col-md-3 -->
				<div class="col-md-3">
					<div class="products">
						<a href="single-product.html">
							<img src="{% static 'images/9.png' %}" alt="">
						</a>
						<a href="single-product.html">
							<h4>Pizza</h4>
						</a>
						<p class="price">Prix : 4000 FCFA</p>
					</div>	<!-- End of /.products -->
				</div> <!-- End Of /.Col-md-3 -->
				<div class="col-md-3">
					<div class="products">
						<a href="single-product.html">
							<img src="{% static 'images/10.png' %}" alt="">
						</a>
						<a href="single-product.html">
							<h4>Fataya</h4>
						</a>
						<p class="price">Prix : 1500 FCFA</p>
					</div>	<!-- End of /.products -->
				</div> <!-- End Of /.Col-md-3 -->
			</div>	<!-- End of /.row -->
		</div>	<!-- End of /.container -->
	</section>	<!-- End of Section -->




		<!-- CALL TO ACTION Start
    ================================================== -->

	<section id="call-to-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<div class="block-heading">
							<h2>LES PARTENAIRES</h2>
						</div>
					</div>	<!-- End of /.block -->
					<div id="owl-example" class="owl-carousel">
						<div> <img src="{% static 'images/company-1.png' %}" alt=""></div>
						<div> <img src="{% static 'images/company-2.png' %}" alt=""></div>
						<div> <img src="{% static 'images/company-3.png' %}" alt=""></div>
						<div> <img src="{% static 'images/company-4.png' %}" alt=""></div>
						<div> <img src="{% static 'images/company-5.png' %}" alt=""></div>
						<div> <img src="{% static 'images/company-6.png' %}" alt=""></div>
						<div> <img src="{% static 'images/company-7.png' %}" alt=""></div>
						<div> <img src="{% static 'images/company-8.png' %}" alt=""></div>
					</div>	<!-- End of /.Owl-Slider -->
				</div>	<!-- End of /.col-md-12 -->
			</div> <!-- End Of /.Row -->
		</div> <!-- End Of /.Container -->
	</section>	<!-- End of Section -->

{% endblock content %}